name: Docker Security Scan

# Quando o workflow será executado:
# Executando o push na main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      # 1 - Pega o código do repositório
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2 - Configura o Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # 3 - Build da imagem Docker
      - name: Build Docker image
        run: docker build -t securitygate .

      # 4 - Escaneamento de vulnerabilidades com Trivy
      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@0.20.0 #uses: aquasecurity/trivy-action@master
        with:
          image-ref: securitygate
          scan-type: image
          ignore-unfixed: true   # ignora vulnerabilidades não corrigidas
          severity: CRITICAL,HIGH # MEDIUM,LOW
          exit-code: 1

    # 5 - Semgrep scan
      - name: Run Semgrep scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: "auto"
        continue-on-error: true

    # - Escaneamento de CVEs nas dependencias(SCA)
      - name: Run Trivy filesystem scan (SCA)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          security-checks: vuln
          format: json
          output: trivy-cves.json
          exit-code: 0
